{% extends "base.html" %}
{% block conteudo %}
<div class="card estreito">
  <h1>Trocar senha</h1>
  <form method="post">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <label>Senha atual <input name="atual" type="password" autocomplete="current-password" required></label>
    <label>Nova senha <input name="nova" type="password" autocomplete="new-password" minlength="8" required></label>
    <label>Confirmar nova senha <input name="confirmacao" type="password" autocomplete="new-password" minlength="8" required></label>
    <button>Salvar</button>
  </form>
</div>
{% endblock %}
